# Operations

There are lots of operations with pandas that will be really useful to you, but don't fall into any distinct category. Let's show them here in this lecture:

In [50]:
import pandas as pd
pd.set_option("display.max_columns", 1000)
pd.set_option("display.max_colwidth", 2000)
# pd.set_option('display.height', 500)
pd.set_option('display.max_rows', 500)

df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

### Info on Unique Values for a Column:

In [50]:
df['col2'].unique()

array([444, 555, 666])

In [51]:
df['col2'].nunique()

3

In [3]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [ ]:
df.drop_duplicates(subset="col2",
                     keep="first", inplace=True)
df.head()

In [14]:
df.sample()

   col1  col2 col3
0     1   444  abc

In [52]:
df1=pd.read_csv("Salaries.csv")
df1.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [53]:
df1.shape

(148654, 13)

In [48]:
df1.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,148654.000000,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,74327.500000,66325.448841,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42912.857795,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,37164.250000,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,74327.500000,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,111490.750000,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

In [61]:
pd.set_option('display.min_rows', 500)  # <-add this!
pd.set_option('display.max_rows', 500)
pd.set_option('max_colwidth', 400)
import sys
import numpy
numpy.set_printoptions(threshold=sys.maxsize)

In [53]:

df1['JobTitle'].nunique()

2159

In [55]:
df1['JobTitle'].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC',
       'DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)',
       'ASSISTANT DEPUTY CHIEF II', 'BATTALION CHIEF, (FIRE DEPARTMENT)',
       'DEPUTY DIRECTOR OF INVESTMENTS',
       'CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)',
       'ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)',
       'EXECUTIVE CONTRACT EMPLOYEE', 'DEPARTMENT HEAD V',
       'COMMANDER III, (POLICE DEPARTMENT)',
       'CAPTAIN, EMERGENCYCY MEDICAL SERVICES',
       'ASSISTANT MEDICAL EXAMINER', 'CAPTAIN, FIRE SUPPRESSION',
       'CHIEF OF POLICE', 'DEPUTY CHIEF III (POLICE DEPARTMENT)',
       'INSPECTOR III, (POLICE DEPARTMENT)',
       'ELECTRONIC MAINTENANCE TECHNICIAN',
       'ADMINISTRATOR, SFGH MEDICAL CENTER',
       'LIEUTENANT III (POLICE DEPARTMENT)', 'FIREFIGHTER',
       'NURSING SUPERVISOR PSYCHIATRIC', 'MAYOR',
       'LIEUTENANT, FIRE DEPARTMENT', 'INCIDENT SUPPORT SPECIALIST',
       'ANESTHETIST', 'DISTRICT ATTORNEY',
       'ELECTRICAL TRANSIT MECHANIC, ASSISTANT SUPERVISOR',
       'PORT DIRECTOR',
       'LIEUTENANT, BUREAU OF FIRE PREVENTION AND PUBLIC S',
       'SENIOR PHYSICIAN SPECIALIST', 'FIRE FIGHTER PARAMEDIC',
       'MANAGER VII', 'TRANSIT SUPERVISOR',
       'INSPECTOR, BUREAU OF FIRE PREVENTION AND PUBLIC SA',
       'MANAGER VIII', 'DEPUTY DIRECTOR II - MUNICIPAL TRANSPORTATION AG',
       'NURSING SUPERVISOR', 'POLICE OFFICER III', "SHERIFF'S LIEUTENANT",
       'DEPUTY DIRECTOR V', 'SUPERVISING PHYSICIAN SPECIALIST',
       'DEPARTMENT HEAD IV', 'FORENSIC TOXICOLOGIST',
       'CONFIDENTIAL CHIEF ATTORNEY II (CIVIL & CRIMINAL)',
       'SERGEANT III (POLICE DEPARTMENT)', 'DEPUTY SHERIFF',
       'NURSE MANAGER', 'ELECTRICAL TRANSIT SYSTEM MECHANIC',
       'CITY ATTORNEY', 'MARINE ENGINEER OF FIRE BOATS',
       'CHIEF ATTORNEY I (CIVIL & CRIMINAL)',
       'CAPTAIN, BUREAU OF FIRE PREVENTION AND PUBLIC SAFE',
       'ELECTRICAL TRANSIT SHOP SUPERVISOR I', 'POLICE OFFICER I',
       'POLICE OFFICER II', 'SERGEANT I (POLICE DEPARTMENT)',
       'SPECIAL ASSISTANT XXII', 'DEPUTY DIRECTOR IV',
       'WIRE ROPE CABLE MAINTENANCE SUPERVISOR', 'PUBLIC DEFENDER',
       'SHERIFF', 'HUMAN RESOURCES DIRECTOR',
       'INVESTIGATOR, BUREAU OF FIRE INVESTIGATION',
       'ASSISTANT CHIEF ATTORNEY II', 'DEPUTY DIRECTOR III', 'PHARMACIST',
       'TRANSIT OPERATIONS SPECIALIST', 'DEPARTMENT HEAD III',
       'CHIEF PROBATION OFFICER, JUVENILE COURT', "SHERIFF'S SERGEANT",
       'ASSISTANT INSPECTOR (POLICE DEPARTMENT)',
       'DIAGNOSTIC IMAGING TECH II', 'DIAGNOSTIC IMAGING TECH III',
       'CHIEF ADULT PROBATION OFFICER', 'MANAGER VI',
       'FIRE SAFETY INSPECTOR II', 'MAINTENANCE MACHINIST',
       'ASSISTANT INSPECTOR III (POLICE DEPARTMENT)',
       'DEPUTY DIRECTOR I - MUNICIPAL TRANSPORTATION AGE',
       'DIRECTOR, EMPLOYEE RELATIONS DIVISION',
       'ASSISTANT CHIEF ATTORNEY I', 'TRAIN CONTROLLER',
       'PHYSICIAN ASSISTANT', 'PHYSICIAN SPECIALIST',
       'AUTOMOTIVE MECHANIC SUPERVISOR I', 'ATTORNEY (CIVIL/CRIMINAL)',
       'SERGEANT II (POLICE DEPARTMENT)', 'ELECTRICIAN',
       'NURSE PRACTITIONER',
       'MECHANICAL SHOP AND EQUIPMENT SUPERINTENDENT',
       'HEAD ATTORNEY, CIVIL AND CRIMINAL', 'PRINCIPAL CIVIL ENGINEER',
       'ASSOCIATE ENGINEER', 'PROJECT MANAGER IV', 'PILOT OF FIRE BOATS',
       'DEPARTMENT HEAD I', 'SENIOR ENGINEER', 'COURT EXECUTIVE OFFICER',
       'ENGINEER', 'ASSISTANT SHERIFF',
       'BUILDINGS AND GROUNDS MAINTENANCE SUPERINTENDENT',
       'ELECTRONIC MAINTENANCE TECHNICIAN ASSISTANT SUPERV',
       'CLINICAL PHARMACIST', 'DEPARTMENT HEAD II',
       'CLINICAL NURSE SPECIALIST', 'NURSE MIDWIFE',
       'ELECTRICAL TRANSIT MECHANIC SUPERVISOR I', 'MANAGER V',
       'ATTORNEY FOR THE PUBLIC ADMINISTRATOR', 'CHIEF DEPUTY SHERIFF',
       'SENIOR DEPUTY SHERIFF', 'PROJECT MANAGER III',
       'TRACK MAINTENANCE WORKER SUPERVISOR I', 'MAYORAL STAFF XVII',
       'MANAGER VII - MUNICIPAL TRANSPORTATION AGENCY',
       'HEATING AND VENTILATING INSPECTOR',
       'ASST. CHIEF PROBATION OFFICER-JUVENILE PROBATION',
       'DIRECTOR, INFORMATION TECHNOLOGY GROUP',
       'UTILITY PLUMBER SUPERVISOR II',
       'COMMUNICATIONS LINE WORKER SUPERVISOR II',
       'ASSISTANT INSPECTOR II (POLICE DEPARTMENT)', 'ASSESSOR',
       'MANAGER VIII - MUNICIPAL TRANSPORTATION AGENCY', 'MANAGER IV',
       'INSPECTOR, (POLICE DEPARTMENT)', 'IS ENGINEER - PRINCIPAL',
       'REGISTERED NURSE', 'SPECIAL NURSE',
       'INFORMATION SERVICES MANAGER', 'TRANSMISSION LINE SUPERVISOR I',
       'SUPERVISING PHARMACIST', 'SEWAGE TREATMENT PLANT SUPERINTENDENT',
       'TREASURER', 'SENIOR POWER GENERATION TECHNICIAN',
       'DEPUTY DIRECTOR II', "CHIEF DISTRICT ATTORNEY'S INVESTIGATOR",
       'LANDSCAPE ARCHITECTURAL ASSOCIATE II',
       'ARCHITECTURAL ASSOCIATE  I', 'LANDSCAPE ARCHITECT', 'ARCHITECT',
       'STATIONARY ENGINEER', 'PLUMBING INSPECTOR', 'AUTOMOTIVE MECHANIC',
       'CHIEF STATIONARY ENGINEER', 'SENIOR COURT STAFF ATTORNEY',
       'HEAD PARK PATROL OFFICER', 'UNDERSHERIFF',
       'ASSISTANT ELECTRONIC MAINTENANCE TECHNICIAN', "SHERIFF'S CAPTAIN",
       'MANAGER III', 'BOARD SECRETARY - MUNICIPAL TRANSPORTATION AGENC',
       'WATER CONSTRUCTION AND MAINTENANCE SUPERINTENDENT',
       'LIEUTENANT I, (POLICE DEPARTMENT)',
       'LIEUTENANT II (POLICE DEPARTMENT)', 'DIAGNOSTIC IMAGING TECH I',
       'MANAGER II - MUNICIPAL TRANSPORTATION AGENCY',
       'MANAGER VI - MUNICIPAL TRANSPORTATION AGENCY',
       'ATTORNEY, TAX COLLECTOR', 'COURT COMMISSIONER',
       'PRINCIPAL ADMINISTRATIVE ANALYST', 'SENIOR RADIO TECHNICIAN',
       'ADMINISTRATIVE ENGINEER', 'BUILDING INSPECTOR',
       'CHIEF WATER SERVICE INSPECTOR', 'POWER GENERATION SUPERVISOR',
       'TRANSIT OPERATOR', 'UTILITY PLUMBER SUPERVISOR I',
       'RADIOLOGIC TECHNOLOGIST SUPERVISOR', 'DENTIST',
       'BUILDING PLANS ENGINEER', 'INSPECTOR II, (POLICE DEPARTMENT)',
       'TELECOMMUNICATIONS TECHNICIAN SUPERVISOR',
       'SUPERVISING ELECTRONIC MAINTENANCE TECHNICIAN',
       'INSTITUTIONAL POLICE SERGEANT', 'TRANSIT POWER LINE SUPERVISOR I',
       'SENIOR COUNSELOR, JUVENILE HALL', 'COURT ADMINISTRATOR',
       'PLUMBER SUPERVISOR I', 'COURT COMPUTER SYSTEMS MANAGER',
       'SENIOR CONSTRUCTION INSPECTOR', 'CRIMINALIST III',
       'TRANSIT POWER LINE WORKER', 'SEWER REPAIR SUPERVISOR',
       'SENIOR LIGHT RAIL VEHICLE EQUIPMENT ENGINEER',
       'TRANSMISSION AND DISTRIBUTION LINE WORKER', 'MANAGER II',
       'ARCHITECTURAL ASSOCIATE II',
       'AUTOMOTIVE TRANSIT SHOP SUPERVISOR I',
       'MANAGER V - MUNICIPAL TRANSPORTATION AGENCY',
       'IS PROJECT DIRECTOR', 'TRANSIT CAR CLEANER',
       'CHIEF STATIONARY ENGINEER, WATER TREATMENT PLANT', 'PLUMBER',
       'DISABILITY ACCESS COORDINATOR',
       'AUTOMOTIVE MECHANIC ASSISTANT SUPERVISOR',
       'AUTOMOTIVE MACHINIST ASSISTANT SUPERVISOR', 'LAW LIBRARIAN',
       'PROJECT MANAGER II', 'SENIOR STATIONARY ENGINEER',
       'TRANSIT POWER LINE WORKER SUPERVISOR II',
       'ASST. CHIEF, BUREAU OF CLAIMS INVEST. & ADMIN',
       'IS BUSINESS ANALYST - PRINCIPAL',
       'POWER GENERATION TECHNICIAN II', 'CABLE SPLICER',
       'CONSTRUCTION INSPECTOR', 'IS ENGINEER - SENIOR', 'PLANNER V',
       'CRIME LABORATORY MANAGER', 'SHEET METAL WORKER SUPERVISOR II',
       'COMMUNICATIONS SYSTEMS TECHNICIAN', 'IS ENGINEER - JOURNEY',
       'SUPERINTENDENT OF WATER TREATMENT FACILITIES',
       'STATION AGENT, MUNICIPAL RAILWAY', 'STRUCTURAL ENGINEER',
       'PUBLIC HEALTH NURSE', 'COURT STAFF ATTORNEY II',
       'HEAD AIRPORT ELECTRICIAN',
       'ASSISTANT DIRECTOR OF CLINICAL SERVICES II',
       'FIRE PROTECTION ENGINEER', 'SPECIAL ASSISTANT XVI',
       'ASSISTANT DEPUTY DIRECTOR, PORT', 'FIRE RESCUE PARAMEDIC',
       'DIRECTOR, FISCAL SERVICES', "DISTRICT ATTORNEY'S INVESTIGATOR",
       'TRANSIT PAINT SHOP SUPERVISOR I', 'ELECTRICIAN SUPERVISOR II',
       "PRINCIPAL DISTRICT ATTORNEY'S INVESTIGATOR",
       'BUILDINGS AND GROUNDS MAINTENANCE SUPERVISOR',
       'SENIOR WATER SERVICE INSPECTOR', 'IS BUSINESS ANALYST - SENIOR',
       'MAINTENANCE CONTROLLER', 'ELECTRICIAN SUPERVISOR I',
       'MANAGER, EMPLOYEE RELATIONS DIV', 'TRAFFIC HEARING OFFICER',
       'ASSISTANT ENGINEER', 'LANDSCAPE ARCHITECTURAL ASSOCIATE I',
       'CHIEF BUILDING INSPECTOR', 'MAINTENANCE MACHINIST SUPERVISOR I',
       'MANAGER IV - MUNICIPAL TRANSPORTATION AGENCY', 'UTILITY PLUMBER',
       'SENIOR ELECTRICAL INSPECTOR', 'ELECTRICAL INSPECTOR',
       'SENIOR STATIONARY ENGINEER, WATER TREATMENT PLANT',
       'COMMUNICATION LINE SUPERVISOR I', 'ELECTRICAL LINE WORKER',
       'MAYORAL STAFF XVI', 'AIRPORT MECHANICAL MAINTENANCE SUPERVISOR',
       'COURT REPORTER COORDINATOR', 'CHIEF PLUMBING INSPECTOR',
       'OPERATING ROOM NURSE', 'WELDER',
       'MENTAL HEALTH TREATMENT SPECIALIST',
       'TRANSPORTATION SAFETY SPECIALIST',
       'SENIOR POLICE COMMUNICATIONS DISPATCHER', 'UTILITY SPECIALIST',
       'CEMENT FINISHER SUPERVISOR II',
       'ASSISTANT COURT REPORTER COORDINATOR',
       'PRINCIPAL REAL PROPERTY OFFICER', 'RESEARCH PSYCHOLOGIST',
       'LOCKSMITH SUPERVISOR I', 'SUPERVISING CHEMIST',
       'SENIOR PLUMBING INSPECTOR', 'OPERATING ENGINEER, UNIVERSAL',
       'LABORATORY SERVICES MANAGER', 'MANAGER I',
       'MANAGER, UNIFIED FAMILY COURT SERVICES',
       'DIRECTOR, HUMAN RESOURCES', 'SENIOR BUILDING INSPECTOR',
       'TRANSIT MANAGER II', 'PLANNER IV',
       'EMERGENCY MEDICAL SERVICES AGENCY SPECIALIST',
       'PUBLIC SAFETY COMMUNICATIONS DISPATCHER',
       'WATER OPERATIONS ANALYST', 'CHIEF ELECTRICAL INSPECTOR',
       'TRAFFIC SIGNAL ELECTRICIAN', 'AUTOMOTIVE BODY AND FENDER WORKER',
       'APPRENTICE STATIONARY ENGINEER',
       'AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I',
       'AUTOMOTIVE MACHINIST', 'SUPERVISING PURCHASER',
       'CHIEF STATIONARY ENGINEER, SEWAGE PLANT',
       'COURT COMPUTER FACILITIES COORDINATOR', 'PLUMBER SUPERVISOR II',
       'MANAGER III - MUNICIPAL TRANSPORTATION AGENCY',
       'CLAIMS INVESTIGATOR', 'STEAMFITTER',
       'PROTECTIVE SERVICES SUPERVISOR', 'CARPENTER SUPERVISOR I',
       'MAYORAL STAFF XV', 'COUNSELOR, LOG CABIN RANCH',
       'CHIEF HOUSING INSPECTOR', "MEDICAL EXAMINER'S INVESTIGATOR II",
       'DIRECTOR, JUVENILE HALL', 'IS PROGRAMMER ANALYST - PRINCIPAL',
       'TRAF SIGNAL ELECTRICIAN SUP II', 'IS ADMINISTRATOR III',
       "ASSISTANT CHIEF DISTRICT ATTORNEY'S INVESTIGATOR",
       'STEAMFITTER ASSISTANT SUPERVISOR',
       'SENIOR STATIONARY ENGINEER, SEWAGE PLANT', 'COURT REPORTER',
       'AIRPORT ELECTRICIAN', 'AIRPORT ELECTRICIAN SUPERVISOR',
       'COURT MANAGER', 'HEALTH PROGRAM COORDINATOR III',
       'SUPERVISING WASTEWATER CONTROL INSPECTOR',
       'TRAF SIGNAL ELECTRICIAN SUP I', 'LINE INSPECTOR',
       'PRINCIPAL ADMINISTRATIVE ANAYLST II', 'WATER SERVICE INSPECTOR',
       'PUBLIC RELATIONS MANAGER',
       'SENIOR ENVIRONMENTAL HEALTH INSPECTOR',
       'CONTRACT COMPLIANCE OFFICER II',
       'SENIOR INDUSTRIAL HYGIENIST DEPT OF PUBLIC HEALTH',
       'SAFETY OFFICER', 'AUTOMOTIVE MACHINIST SUPERVISOR I',
       'PLANNER IV-ENVIRONMENTAL REVIEW',
       'DIVISION DIRECTOR ADULT PROBATION', 'PROTECTIVE SERVICES WORKER',
       "MEDICAL EXAMINER'S INVESTIGATOR III", 'AUTOMOTIVE SERVICE WORKER',
       'DIRECTOR, PROBATE', 'IS ADMINISTRATOR - SUPERVISOR',
       'SENIOR HOUSING INSPECTOR', 'SEWER SERVICE WORKER',
       'STREET REPAIR SUPERVISOR II', 'ELECTRIC MOTOR REPAIRER',
       'COMMUNICATIONS DIRECTOR',
       'COURT COMPUTER APPLICATIONS PROGRAMMER',
       'DIAGNOSTIC IMAGING TECH IV', 'PROJECT MANAGER I',
       'ASPHALT FINISHER SUPERVISOR I', 'TRANSIT MANAGER I',
       'CRIMINALIST II', 'CHIEF MICROBIOLOGIST', 'CHIEF SURVEYOR',
       'SENIOR ADMINISTRATIVE ANALYST', 'PSYCHIATRIC TECHNICIAN',
       'SUPERVISING BIOLOGIST', 'AIRPORT OPERATIONS SUPERVISOR',
       'TRANSIT PLANNER IV', 'MEDIA/SECURITY SYSTEMS SUPERVISOR',
       "SENIOR DISTRICT ATTORNEY'S INVESTIGATOR",
       'PRINCIPAL PERSONNEL ANALYST', 'SENIOR PHYSICAL THERAPIST',
       'SENIOR OCCUPATIONAL THERAPIST', 'SHELTER VETERINARIAN',
       'CHIEF FIRE ALARM DISPATCHER', 'DEPUTY DIRECTOR I',
       'EXECUTIVE ASSISTANT TO THE GENERAL MANAGER, RETIRE',
       'AIRPORT ECONOMIC PLANNER', 'SWITCH REPAIRER',
       'POWER HOUSE ELECTRICIAN SUPERVISOR I', 'SAFETY ANALYST',
       'BIOLOGIST III', 'PARKING ENFORCEMENT ADMINISTRATOR',
       'PRINCIPAL ENVIRONMENTAL HEALTH INSPECTOR',
       'SENIOR EMPLOYEE RELATIONS REPRESENTATIVE', 'PAINTER SUPERVISOR I',
       'SENIOR SYSTEMS ACCOUNTANT', 'COUNSELOR, FAMILY COURT SERVICE',
       'GOVERNMENT AND PUBLIC AFFAIRS MANAGER',
       'ELECTRONIC INSTRUMENTATION TECHNICIAN,WTR PLTNCN',
       'CAR AND AUTO PAINTER',
       'PERFORMANCE ANALYST III - PROJECT MANAGER',
       'UTILITY PLUMBER APPRENTICE', 'PRINCIPAL MANAGEMENT ANALYST',
       'LOCKSMITH', 'SENIOR AIRPORT COMMUNICATIONS DISPATCHER',
       'SENIOR PROPERTY MANAGER, PORT',
       'HEAVY EQUIPMENT OPERATIONS SUPERVISOR', 'MAINTENANCE PLANNER',
       'SENIOR STREET INSPECTOR', 'SENIOR REAL PROPERTY OFFICER',
       'ASSISTANT DIRECTOR OF CLINICAL SERVICES I', 'TRUCK DRIVER',
       'DIRECTOR, PROBATION SERVICES', 'SENIOR CLAIMS INVESTIGATOR',
       'TRACK MAINTENANCE WORKER',
       'WATER AND POWER MAINTENANCE SUPERVISOR I',
       'ASSOCIATE AFFIRMATIVE ACTION COORDINATOR',
       'POLICE COMMUNICATIONS SHIFT SUPERVISOR',
       'STREET ENVIRONMENTAL SERVICES OPERATIONS SUPERVI',
       'ASSISTANT LAW LIBRARIAN', 'CEMENT FINISHER SUPERVISOR I',
       'SENIOR PLAN CHECKER',
       'STATIONARY ENGINEER, WATER TREATMENT PLANT',
       'MAINTENANCE MANAGER', 'CLERK', 'CRANE MECHANIC SUPERVISOR',
       'AIRPORT COMMUNICATIONS OPERATOR',
       'MANAGER I - MUNICIPAL TRANSPORTATION AGENCY',
       'SUPERVISING CLINICAL PSYCHOLOGIST', 'CHEMIST III',
       'ARCHITECTURAL ADMINISTRATOR', 'PRINCIPAL REAL PROPERTY APPRAISER',
       'GENERAL LABORER SUPERVISOR I', 'SUPERVISING PARTS STOREKEEPER',
       'CITY SHOPS ASSISTANT SUPERINTENDENT', 'INDUSTRIAL HYGIENIST',
       'HOUSING INSPECTOR', 'MATERIALS COORDINATOR',
       'PRINCIPAL PERSONAL PROPERTY AUDITOR',
       'STATIONARY ENGINEER, SEWAGE PLANT', 'LICENSED VOCATIONAL NURSE',
       'MARITIME MARKETING REPRESENTATIVE',
       'COURT COMPUTER SYSTEMS ENGINEER II',
       'COURT COMPUTER APPLICATIONS ANALYST',
       'SENIOR HUMAN RESOURCES ANALYST',
       'PRINCIPAL ENVIRONMENTAL SPECIALIST',
       'SUPERVISING ADULT PROBATION OFFICER',
       'SUPERVISING PROBATION OFFICER, JUVENILE COURT',
       'SUPERVISING AUDITOR', 'CLAIMS ADJUSTER',
       'ELEVATOR AND CRANE TECHNICIAN', 'COURT SUPERVISOR II',
       'MEMBER, BOARD OF SUPERVISORS', 'PARTS STOREKEEPER',
       'WATER CONSERVATION ADMINISTRATOR',
       'TRANSIT CAR CLEANER ASSISTANT SUPERVISOR',
       'SHEET METAL SUPERVISOR I', 'MAYORAL STAFF XIII',
       "SENIOR CLAIMS INVESTIGATOR,CITY ATTORNEY'S OFFICE",
       'SENIOR MAINTENANCE CONTROLLER', 'GLAZIER',
       'FISCAL SERVICES COORDINATOR', 'SECRETARY TO THE PRESIDING JUDGE',
       'HEALTH WORKER IV', 'POWER PLANT SUPERVISOR I',
       'OCCUPATIONAL THERAPIST', 'SURVEY ASSOCIATE',
       'AUTOMOTIVE SERVICE WORKER ASSISTANT SUPERVISOR',
       'SENIOR COMMUNITY DEVELOPMENT SPECIALIST I',
       'CHIEF VICTIM/WITNESS INVESTIGATOR',
       'MEDIA/SECURITY SYSTEMS SPECIALIST', 'MAYORAL STAFF XIV',
       'GENERAL LABORER', 'DEPUTY PROBATION OFFICER', 'CARPENTER',
       'PARK PATROL OFFICER',
       'EXECUTIVE DIRECTOR, SOUTHEAST COMMUNITY FACILITY',
       'PHYSICAL THERAPIST', 'SENIOR POWER HOUSE OPERATOR',
       'PARKING CONTROL OFFICER', 'SENIOR PERSONNEL ANALYST',
       'INSTITUTIONAL POLICE OFFICER', 'PHARMACY TECHNICIAN',
       'AUDIOLOGIST', 'ELIGIBILITY WORKER',
       'ASSISTANT SUPERINTENDENT RECREATION', 'SHEET METAL WORKER',
       'ASPHALT PLANT SUPERVISOR I', 'SENIOR ACCOUNT CLERK',
       'COURT INVESTIGATOR', 'STAGE ELECTRICIAN', 'SECURITY ANALYST',
       'PRINCIPAL PAYROLL AND PERSONNEL CLERK',
       'SENIOR COMMUNITY DEVELOPMENT SPECIALIST II',
       'TRAFFIC SIGN MANAGER', 'ELECTRIC MOTOR REPAIR SUPERVISOR I',
       'TRANSIT PLANNER III', 'REGULATORY SPECIALIST', 'PROBATE EXAMINER',
       'HOSPITAL ELIGIBILITY WORKER SUPERVISOR',
       'COURT ASSISTANT - SENIOR, SUPERIOR COURT',
       'MUNICIPAL STADIUM GROUNDSKEEPER', 'BRICKLAYER',
       'PLANNER III-ENVIRONMENTAL REVIEW',
       'ASSISTANT FORENSIC TOXICOLOGIST I',
       'FARE INSPECTIONS SUPERVISOR/INVESTIGATOR',
       'EMPLOYMENT AND TRAINING SPECIALIST VI', 'PIPE WELDER',
       'PARK SECTION SUPERVISOR', 'ENVIRONMENTAL HEALTH INSPECTOR',
       'PRINCIPAL FARE COLLECTIONS RECEIVER', 'AIRPORT SAFETY OFFICER',
       'MARRIAGE, FAMILY & CHILD COUNSELOR (MFCC)',
       'COORDINATOR OF CITIZEN INVOLVEMENT', 'TREE TOPPER SUPERVISOR I',
       'COURT INTERPRETER SUPERVISOR', 'SURGICAL PROCEDURES TECHNICIAN',
       'PLANNER III', 'MENTAL HEALTH REHABILITATION WORKER',
       'PATIENT ACCOUNTS SUPERVISOR', 'STREET INSPECTION SUPERVISOR',
       'COMMUNICATIONS DISPATCHER II', 'POWER HOUSE OPERATOR',
       'SENIOR MICROBIOLOGIST', 'IS ENGINEER - ASSISTANT',
       'ELECTRICAL LINE HELPER', 'ASSISTANT MATERIALS COORDINATOR',
       "WORKER'S COMPENSATION SUPERVISOR I",
       'ASSISTANT TO THE DIRECTOR, PUBLIC AFFAIRS       RS',
       'CLAIMS INVESTIGATOR CITY ATTORNEYS OFFICE', 'IS TRAINER - SENIOR',
       'SPEECH PATHOLOGIST', 'NURSING ASSISTANT',
       'COURT TRAINING SPECIALIST', 'ENGINEERING ASSOCIATE II',
       'CLINICAL PSYCHOLOGIST', 'IS BUSINESS ANALYST', 'GARDENER',
       'AIRPORT PROPERTY SPECIALIST I', 'BOARD/COMMISSION SECRETARY III',
       'BENEFITS SUPERVISOR', 'LEGISLATIVE ASSISTANT', 'CEMENT MASON',
       'LIBRARIAN III', 'REAL PROPERTY OFFICER',
       'ASSISTANT RENTAL MANAGER, PORT',
       'ORNAMENTAL IRON WORKER SUPERVISOR I', 'FUSION WELDER',
       'SUPERVISING WELFARE FRAUD INVESTIGATOR', 'TRAINING COORDINATOR',
       'PAINTER', 'SENIOR PARKING CONTROL OFFICER', 'SENIOR PURCHASER',
       'PROGRAM SUPPORT ANALYST', 'FOOD SERVICE MANAGER ADMINISTRATOR',
       'CONTRACT COMPLIANCE OFFICER I', 'MEDICAL SOCIAL WORK SUPERVISOR',
       'WATERSHED FORESTER MANAGER',
       'HEAVY EQUIPMENT OPERATIONS ASSISTANT SUPERVISOR',
       'ADMINISTRATIVE ANALYST III', 'MOBILE EQUIPMENT SUPERVISOR',
       'GENERAL UTILITY MECHANIC', 'ASSOCIATE AUDITOR',
       'COURT SUPERVISOR I',
       'APPRENTICE STATIONARY ENGINEER, SEWAGE PLANT',
       'TRACK MAINTENANCE SUPERINTENDENT,MUNICIPAL RAILWAY',
       'PATTERN MAKER',
       'EXECUTIVE ASSISTANT TO THE ADMINISTRATOR, S.F.G.H.',
       'IS PROGRAMMER ANALYST - SENIOR',
       'ASSISTANT CLERK, BOARD OF SUPERVISORS',
       'SENIOR REAL PROPERTY APPRAISER', 'EPIDEMIOLOGIST II',
       'ADMINISTRATIVE SERVICES MANAGER', 'PILEDRIVER SUPERVISOR I',
       'PERSONNEL PAYROLL REPRESENTATIVE', 'STREET INSPECTOR',
       'WASTEWATER CONTROL INSPECTOR', 'SENIOR PERSONAL PROPERTY AUDITOR',
       'BIOLOGIST I/II', 'SENIOR PSYCHIATRIC SOCIAL WORKER',
       'SENIOR HEALTH PROGRAM PLANNER', 'SENIOR ENVIRONMENT SPECIALIST',
       "SENIOR INVESTIGATOR, OFFICE OF CITIZEN'S COMPLAINT",
       'HEALTH CARE ANALYST', 'SENIOR PAYROLL AND PERSONNEL CLERK',
       'SECRETARY I', 'SOFT FLOOR COVERER SUPERVISOR',
       'APPRENTICE STATIONARY ENGINEER,WATER TREATMENT PLN',
       'SECRETARY, COMMISSION ON THE ENVIRONMENT',
       'PSYCHIATRIC SOCIAL WORKER',
       'MAINTENANCE MACHINIST ASSISTANT SUPERVISOR',
       'SENIOR SOCIAL WORKER', 'COORDINATOR, HUMAN RIGHTS COMMISSION',
       'SENIOR HEALTH EDUCATOR', 'CURATOR IV', 'COUNSELOR II',
       'MUSEUM SECURITY SUPERVISOR',
       'SUPERVISOR, TRAFFIC AND STREET SIGNS', 'SENIOR CLERK',
       'PRINCIPAL ACCOUNTANT', 'FEASIBILITY ANALYST, PORT',

In [57]:
df1.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [58]:
df1.loc[df1["EmployeeName"]=="GARY JIMENEZ","JobTitle"]="$_@@#_--"
df1.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,$_@@#_--,155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [67]:
df1['JobTitle'].value_counts()

Transit Operator                                      7036
Special Nurse                                         4389
Registered Nurse                                      3736
Public Svc Aide-Public Works                          2518
Police Officer 3                                      2421
Custodian                                             2418
TRANSIT OPERATOR                                      2388
Firefighter                                           2359
Recreation Leader                                     1971
Patient Care Assistant                                1945
Deputy Sheriff                                        1933
Police Officer                                        1476
SPECIAL NURSE                                         1402
Public Service Trainee                                1328
REGISTERED NURSE                                      1219
Police Officer 2                                      1141
Attorney (Civil/Criminal)                             1126
Porter                                                1095
Sergeant 3                                            1047
General Laborer                                       1033
EMT/Paramedic/Firefighter                              918
Gardener                                               894
Parking Control Officer                                868
Senior Clerk                                           840
Library Page                                           799
CUSTODIAN                                              796
FIREFIGHTER                                            794
POLICE OFFICER III                                     779
Clerk                                                  764
Eligibility Worker                                     760
Senior Clerk Typist                                    745
Licensed Vocational Nurse                              707
RECREATION LEADER                                      692
DEPUTY SHERIFF                                         685
Nurse Practitioner                                     674
Stationary Engineer                                    660
Electrical Transit System Mech                         631
PS Aide to Prof                                        627
Protective Services Worker                             616
Senior Administrative Analyst                          615
Medical Evaluations Assistant                          613
Transit Supervisor                                     613
Museum Guard                                           606
Junior Clerk                                           596
Publ Svc Aide-Asst to Prof                             574
Lieutenant, Fire Suppression                           572
Senior Eligibility Worker                              571
MENTAL HEALTH REHABILITATION WORKER                    559
Community Police Services Aide                         559
School Crossing Guard                                  558
Food Service Worker                                    544
PUBLIC SERVICE AIDE-SPECIAL PROGRAMS                   531
Librarian 1                                            530
Truck Driver                                           527
Pr Administrative Analyst                              512
Assoc Engineer                                         507
Public SafetyComm Disp                                 473
Engineer                                               471
POLICE OFFICER I                                       467
HSA Sr Eligibility Worker                              467
Asst Engr                                              461
Stationary Eng, Sewage Plant                           457
Senior Account Clerk                                   439
Health Worker 3                                        438
Automotive Mechanic                                    436
Electronic Maintenance Tech                            430
Manager III                                            421
StdntDsgnTrain1, Arch/Eng/Plng                         417
Health Worker 2                                        415
Manager II                                             399
Nursing Assistant                                      392
Physician Specialist                                   392
Senior Physician Specialist                            390
Manager I                                              388
Deputy Probation Officer                               377
ATTORNEY (CIVIL/CRIMINAL)                              377
GENERAL LABORER                                        377
Psychiatric Social Worker                              376
Pool Lifeguard                                         374
PORTER                                                 370
Administrative Analyst                                 368
Painter                                                363
POLICE OFFICER II                                      361
Clerk Typist                                           352
Principal Clerk                                        350
Automotive Service Worker                              340
Manager IV                                             330
PUBLIC SERVICE TRAINEE                                 328
Senior Personnel Analyst                               328
PS Aide Health Services                                319
Counselor, Juvenile Hall                               319
Inspector 3                                            318
Electrician                                            317
SENIOR CLERK TYPIST                                    310
LIBRARY PAGE                                           308
SENIOR ELIGIBILITY WORKER                              308
Lieutenant 3                                           303
Secretary 2                                            301
FIRE FIGHTER PARAMEDIC                                 301
Medical Social Worker                                  298
SERGEANT III (POLICE DEPARTMENT)                       295
Library Assistant                                      294
GARDENER                                               293
IS Business Analyst-Principal                          289
Deputy Court Clerk II                                  288
Eng/Arch/Landscape Arch Sr                             285
Accountant III                                         278
PARKING CONTROL OFFICER                                272
IS Engineer-Senior                                     271
Transit Car Cleaner                                    268
Account Clerk                                          268
Nurse Manager                                          262
Hospital Eligiblity Worker                             257
IS Business Analyst-Senior                             251
Manager V                                              251
Senior Deputy Sheriff                                  250
Marriage, Family & Child Cnslr                         249
Senior Social Worker                                   244
Management Assistant                                   241
Library Technical Assistant 1                          237
Personnel Analyst                                      236
STATIONARY ENGINEER                                    226
Accountant II                                          226
Carpenter                                              226
SENIOR CLERK                                           224
ELIGIBILITY WORKER                                     220
CLERK                                                  219
Unit Clerk                                             218
Automotive Machinist                                   216
MUSEUM GUARD                                           215
Captain, Fire Suppression                              211
Program Specialist                                     210
PROTECTIVE SERVICES WORKER                             208
Junior Engineer                                        208
NURSE PRACTITIONER                                     207
Customer Service Agent                                 206
ELECTRICAL TRANSIT SYSTEM MECHANIC                     204
StdntDsgnTrain3, Arch/Eng/Plng                         204
Pharmacy Technician                                    202
Sr Payroll & Personnel Clerk                           199
Deputy Court Clerk III                                 199
TRANSIT SUPERVISOR                                     199
Manager VI                                             198
Junior Administrative Analyst                          198
Plumber                                                198
LICENSED VOCATIONAL NURSE                              194
Swimming Instructor                                    193
Construction Inspector                                 192
Eligibility Worker Supervisor                          191
SENIOR ADMINISTRATIVE ANALYST                          191
StdntDsgn Train2/Arch/Eng/Plng                         188
Recreation Coordinator                                 187
AIRPORT POLICE SERVICES AIDE                           187
Sheriff's Cadet                                        186
Executive Secretary 1                                  184
Legal Secretary 1                                      184
TRUCK DRIVER                                           182
LIBRARIAN I                                            182
PUBLIC SERVICE AIDE-ASSOCIATE TO PROFESSIONALS         182
Housekeeper/Food Service Clnr                          181
Utility Plumber                                        178
Executive Secretary 2                                  178
Health Care Billing Clerk 2                            177
Public Health Nurse                                    177
Payroll Clerk                                          175
Planner 3                                              174
Librarian 2                                            174
Social Worker                                          172
Accountant IV                                          171
LIEUTENANT, FIRE DEPARTMENT                            170
Building Inspector                                     170
Employment & Training Spec 3                           167
Health Program Coordinator 3                           167
Child Support Officer II                               167
BdComm Mbr, Grp5,M$100/Mo                              166
Physical Therapist                                     166
Pharmacist                                             165
MEDICAL EVALUATIONS ASSISTANT                          165
Custodial Assistant Supervisor                         164
Station Agent, Muni Railway                            164
Admission Attendant                                    164
Health Worker 1                                        163
INSPECTOR III, (POLICE DEPARTMENT)                     162
DEPUTY COURT CLERK II                                  162
JUNIOR CLERK                                           159
ENGINEER                                               159
PUBLIC SAFETY COMMUNICATIONS DISPATCHER                159
STATIONARY ENGINEER, SEWAGE PLANT                      158
IS Engineer-Journey                                    158
FOOD SERVICE WORKER                                    157
Transit Fare Inspector                                 157
IS Engineer-Principal                                  156
IS Business Analyst                                    155
Utility Specialist                                     154
Bldg & Grounds Patrol Officer                          154
SCHOOL CROSSING GUARD                                  154
Medical Records Clerk                                  154
Senior Management Assistant                            154
Sheriff's Sergeant                                     153
PUBLIC SERVICE AIDE-ASSISTANT TO PROFESSIONALS         151
MANAGER III                                            150
Camp Assistant                                         149
Clinical Psychologist                                  149
HEALTH WORKER III                                      148
SENIOR ACCOUNT CLERK                                   148
ASSOCIATE ENGINEER                                     148
Sr. Community Devl Spc 1                               148
IS Project Director                                    147
Occupational Therapist                                 147
Home Health Aide                                       146
PRINCIPAL ADMINISTRATIVE ANALYST                       146
ASSISTANT ENGINEER                                     146
COUNSELOR, JUVENILE HALL                               144
HSA Social Worker                                      141
Senior Legal Process Clerk                             139
Testing Technician                                     139
PUBLIC SERVICE AIDE-HEALTH SERVICES                    139
Statnry Eng Water Treat Plant                          138
Clinical Pharmacist                                    138
General Laborer Supervisor 1                           137
Senior Water Services Clerk                            137
Nursing Supervisor                                     137
IT Operations Support Admn III                         137
DEPUTY PROBATION OFFICER                               136
SENIOR PHYSICIAN SPECIALIST                            136
PHYSICIAN SPECIALIST                                   136
CLERK TYPIST                                           135
Commissioner No Benefits                               134
Maintenance Machinist                                  133
ELECTRONIC MAINTENANCE TECHNICIAN                      133
Head Atty, Civil & Criminal                            131
Sergeant 2                                             131
SENIOR SOCIAL WORKER                                   129
Operating Engineer, Universal                          129
Airport Safety Officer                                 128
Fare Collections Receiver                              128
HEALTH WORKER II                                       127
NURSING ASSISTANT                                      127
Medical Records Technician                             126
AUTOMOTIVE MECHANIC                                    126
Junior Management Assistant                            125
Legislative Assistant                                  125
MANAGER I                                              124
BdComm Mbr, Grp2,M=$25/Mtg                             124
PSYCHIATRIC SOCIAL WORKER                              123
Diagnostic Imaging Tech I                              123
SECRETARY II                                           120
Senior Collections Officer                             119
SWIMMING INSTRUCTOR/POOL LIFEGUARD                     119
Protective Services Supervisor                         118
                                                      ...
Communications Director                                  2
MAINTENANCE MACHINIST ASSISTANT SUPERVISOR               2
Court Asst., Superior Court                              2
ELEVATOR AND CRANE TECHNICIAN                            2
PRINCIPAL PARTS STOREKEEPER                              2
MEDICAL EXAMINER'S INVESTIGATOR III                      2
Senior Offset Machine Operator                           2
Crime Lab Mgr                                            2
ADMINISTRATIVE ANALYST II                                2
IS TRAINER - ASSISTANT                                   2
ASSOCIATE HUMAN RESOURCES ANALYST                        1
TRAINING COORDINATOR                                     1
ASST. CHIEF, BUREAU OF CLAIMS INVEST. & ADMIN            1
Mobile Equipment Supervisor                              1
Court Supervisor I                                       1
ASSISTANT DIRECTOR, LOG CABIN RANCH                      1
Administrative Hearing Sup                               1
ASSOCIATE MUSEUM CONSERVATOR, ASIAN ART MUSEUM           1
TELECOMMUNICATIONS TECHNICIAN SUPERVISOR                 1
CONSERVATORSHIP/CASE MGNT SUPV                           1
POWER GENERATION TECHNICIAN I                            1
LOCKSMITH SUPERVISOR I                                   1
COURT SUPERVISOR I                                       1
MEDIA PRODUCTION SUPERVISOR                              1
AIRPORT ASSISTANT DEPUTY DIRECTOR, BUSINESS ADMINI       1
Police Services Aide                                     1
SENIOR PLAN CHECKER                                      1
SENIOR BOOK REPAIRER                                     1
SHADE AND DRAPERY WORKER                                 1
COURT PARALEGAL                                          1
SECRETARY, LIBRARY COMMISSION                            1
CITY ATTORNEY                                            1
WAREHOUSE WORKER                                         1
DIRECTOR, FISCAL SERVICES                                1
WINDOW CLEANER SUPERVISOR                                1
RENT BOARD SUPERVISOR                                    1
FARMER                                                   1
LIEUTENANT II (POLICE DEPARTMENT)                        1
IS Technician Assistant                                  1
SECRETARY, HEALTH COMMISSION                             1
MUNICIPAL STADIUM GROUNDSKEEPER                          1
SUPERVISING COURT ADMINISTRATIVE SECRETARY               1
EXECUTIVE SECRETARY TO THE CONTROLLER                    1
LIEUTENANT I, (POLICE DEPARTMENT)                        1
COURT AD RESOLUTION COORDINATOR                          1
SENIOR FOOD SERVICE SUPERVISOR                           1
SENIOR TRANSIT TRAFFIC CHECKER                           1
ASSISTANT SUPERINTENDENT RECREATION                      1
CARPENTER SUPERVISOR II                                  1
CHIEF OF POLICE                                          1
PRINCIPAL RECREATION SUPERVISOR                          1
Legislative Calendar Clerk                               1
CHIEF ELECTRICAL INSPECTOR                               1
ELECTRICAL ENGINEERING ASSOCIATE I                       1
ASSISTANT LAW LIBRARIAN                                  1
Pr DistAtty Invstgtor,SpecUnit                           1
SENIOR OPERATIONS MANAGER                                1
SPECIAL ASSISTANT XVI                                    1
Special Assistant 18                                     1
CHIEF VICTIM/WITNESS INVESTIGATOR                        1
HUMAN RESOURCES DIRECTOR                                 1
EMPLOYEE ASSISTANCE COUNSELOR                            1
GLAZIER SUPERVISOR I                                     1
ASSISTANT TO THE DIRECTOR, PUBLIC AFFAIRS       RS       1
TRAF SIGNAL ELECTRICIAN SUP II                           1
CHIEF MICROBIOLOGIST                                     1
ASSESSOR                                                 1
CASHIER III                                              1
LEGISLATION CLERK                                        1
Sr Sprv Prob Ofc, Juv Prob                               1
INSTITUTIONAL POLICE LIEUTENANT                          1
LABORATORY HELPER                                        1
Pianist                                                  1
MARKET RESEARCH SPECIALISTS, PORT                        1
TRIAL DELAY REDUCTION COORDINATOR                        1
BOARD SECRETARY - MUNICIPAL TRANSPORTATION AGENC         1
BUILDING SERVICES TECHNICIAN                             1
CHIEF HOUSING INSPECTOR                                  1
MEDIA/SECURITY SYSTEMS SUPERVISOR                        1
SECRETARY, COMMISSION ON THE ENVIRONMENT                 1
Special Assistant 13                                     1
ORTHOPEDIC TECHNICIAN I                                  1
CRIME LABORATORY MANAGER                                 1
ENVIRONMENT HEALTH TECHNICIAN II                         1
TRAINING TECHNICIAN                                      1
MAYORAL STAFF XI                                         1
POWER PLANT SUPERVISOR I                                 1
LEGISLATIVE CALENDAR CLERK                               1

In [16]:
df[["EmployeeName","TotalPay"]]

             EmployeeName   TotalPay
0          NATHANIEL FORD  567595.43
1            GARY JIMENEZ  538909.28
2          ALBERT PARDINI  335279.91
3       CHRISTOPHER CHONG  332343.61
4         PATRICK GARDNER  326373.19
...                   ...        ...
148649      Roy I Tillery       0.00
148650       Not provided       0.00
148651       Not provided       0.00
148652       Not provided       0.00
148653          Joe Lopez    -618.13

[148654 rows x 2 columns]

In [26]:
col=df[["EmployeeName","TotalPay"]].values.ravel()
a=pd.unique(col)
a

array(['NATHANIEL FORD', 567595.43, 'GARY JIMENEZ', ..., 'Not provided',
       'Joe Lopez', -618.13], dtype=object)

In [32]:
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

### Selecting Data

In [86]:
df1.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [54]:
newdf = df1[(df1['BasePay'] > 99000) & (df1['BasePay'] < 110000)]
len(newdf)

8727

In [55]:
newdf.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
33,34,JOHN TURSI,"INSPECTOR III, (POLICE DEPARTMENT)",104861.39,50227.61,103499.39,NaN,258588.39,258588.39,2011,NaN,San Francisco,NaN
35,36,KHOA TRINH,ELECTRONIC MAINTENANCE TECHNICIAN,101953.20,139102.95,16483.94,NaN,257540.09,257540.09,2011,NaN,San Francisco,NaN
61,62,ANNA BROWN,CAPTAIN III (POLICE DEPARTMENT),102571.24,7437.00,128543.64,NaN,238551.88,238551.88,2011,NaN,San Francisco,NaN
91,92,DONNA MEIXNER,CAPTAIN III (POLICE DEPARTMENT),102722.40,7437.00,118456.21,NaN,228615.61,228615.61,2011,NaN,San Francisco,NaN

In [31]:
df1.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [10]:
def find_length(name):
    return len(name)

In [26]:
def times2(cols):
    x=cols[0]
    y=cols[1]
    return x*y

In [16]:
times2(4,4)

16

In [27]:
df1["TotalPay_revised"]=df1[['TotalPay','BasePay']].apply(times2,axis=1)
df1.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,TotalPay_revised
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,9.502182e+10
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,8.405154e+10
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,7.132716e+10
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,2.589488e+10
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,4.386508e+10

In [29]:
df1["length_of_names"]=df1['EmployeeName'].apply(find_length)
df1.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,length_of_names
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,14
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,12
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,14
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,17
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,15

In [56]:
df1.sort_values(by='BasePay',ascending=True) #inplace=False by default

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
72832,72833,Irwin Sidharta,Junior Clerk,-166.01,249.02,0.0,6.56,83.01,89.57,2012,NaN,San Francisco,NaN
72865,72866,Robert Scott,Junior Clerk,-121.63,182.70,0.0,5.44,61.07,66.51,2012,NaN,San Francisco,NaN
72872,72873,Chung Huey Kung,Junior Clerk,-109.22,163.83,0.0,4.32,54.61,58.93,2012,NaN,San Francisco,NaN
72874,72875,Jordan Li,Junior Clerk,-106.60,159.90,0.0,4.66,53.30,57.96,2012,NaN,San Francisco,NaN
72878,72879,Richard Jackson,Junior Clerk,-101.88,153.08,0.0,4.55,51.20,55.75,2012,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110530,110531,David P Kucia,Police Officer 3,NaN,0.00,0.0,-33.89,0.00,-33.89,2013,NaN,San Francisco,NaN
148646,148647,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN

In [36]:
df1.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,length_of_names
72925,72926,Gregory P Suhr,Chief of Police,319275.01,0.00,20007.06,86533.21,339282.07,425815.28,2013,NaN,San Francisco,NaN,14
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,NaN,San Francisco,NaN,10
72929,72930,Robert L Shaw,"Dep Dir for Investments, Ret",315572.01,0.00,0.00,82849.66,315572.01,398421.67,2013,NaN,San Francisco,NaN,13
72926,72927,Joanne M Hayes-White,"Chief, Fire Department",313686.01,0.00,23236.00,85431.39,336922.01,422353.40,2013,NaN,San Francisco,NaN,20
72931,72932,Harlan L Kelly-Jr,Executive Contract Employee,313312.52,0.00,0.00,82319.51,313312.52,395632.03,2013,NaN,San Francisco,NaN,17

In [7]:
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [10]:
#Select from DataFrame using criteria from multiple columns
newdf = df[(df['col1']>2) | (df['col2']==444)]

In [11]:
newdf

   col1  col2 col3
0     1   444  abc
2     3   666  ghi
3     4   444  xyz

### Applying Functions

In [56]:
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [10]:
def times2(x):
    return x*2

In [15]:
def to_upper(x):
    return x.upper()

In [14]:
def find_length(x):
    return len(x)

In [17]:
df['col3']=df['col3'].apply(to_upper)
df.head()

   col1  col2 col3  length_of_col
0     1   444  ABC              3
1     2   555  DEF              3
2     3   666  GHI              3
3     4   444  XYZ              3

In [12]:
df['col2'].apply(times2)

0     888
1    1110
2    1332
3     888
Name: col2, dtype: int64

In [16]:
df["length_of_col"]=df['col3'].apply(find_length)
df.head()

   col1  col2 col3  length_of_col
0     1   444  abc              3
1     2   555  def              3
2     3   666  ghi              3
3     4   444  xyz              3

In [37]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [20]:
df.head()

   col1  col2 col3  length_of_col
0     1   444  ABC              3
1     2   555  DEF              3
2     3   666  GHI              3
3     4   444  XYZ              3

In [18]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [21]:
df.head()

   col1  col2 col3  length_of_col
0     1   444  ABC              3
1     2   555  DEF              3
2     3   666  GHI              3
3     4   444  XYZ              3

In [19]:
df['col1'].sum()

10

** Get column and index names: **

In [57]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [28]:
df.index

RangeIndex(start=0, stop=4, step=1)

** Sorting and Ordering a DataFrame:**

In [58]:
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [62]:
df.sort_values(by='col2') #inplace=False by default

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [71]:
df_new=df["col1"].sort_values(ascending=False)
df_new

3    4
2    3
1    2
0    1
Name: col1, dtype: int64

In [69]:
df.sort_values(by='col3',ascending=False) #inplace=False by default

   col1  col2 col3
3     4   444  xyz
2     3   666  ghi
1     2   555  def
0     1   444  abc

In [61]:
df.sort_values(by='col3',ascending=True) #inplace=False by default

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

** Filling in NaN values with something else: **

In [35]:
import numpy as np

In [48]:
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

   col1   col2 col3
0   1.0    NaN  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3   NaN  444.0  xyz

In [45]:
df.isnull().sum()

col1    1
col2    1
col3    0
dtype: int64

In [55]:
# str_cols = ['Name','City']
str_cols = df.columns[df.dtypes==object]
df[str_cols] = df[str_cols].fillna('.')
df = df.fillna(0)

   col1   col2 col3
0   1.0    NaN  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3   NaN  444.0  xyz

In [49]:
df["col2"]=df["col2"].fillna(df["col2"].mean())
df.head()

   col1   col2 col3
0   1.0  555.0  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3   NaN  444.0  xyz

In [47]:
df.head()

0    555.0
1    555.0
2    666.0
3    444.0
Name: col2, dtype: float64

In [44]:
df.fillna({'col1':0,'col2':0},inplace=True)

In [45]:
df

   col1   col2 col3
0   1.0    0.0  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3   0.0  444.0  xyz

In [69]:
# importing pandas as pd
import pandas as pd
import numpy as np
   
# creating a dataframe
df = pd.DataFrame({'A': ['John', 'Boby', 'Mina', 'Peter', 'Nicky'],
      'B': ['Masters', 'Graduate', 'Graduate', 'Masters', 'Graduate'],
      'C': [27, 23, 21, 23, 24]})
   
df.head()

       A         B   C
0   John   Masters  27
1   Boby  Graduate  23
2   Mina  Graduate  21
3  Peter   Masters  23
4  Nicky  Graduate  24

In [44]:
table = pd.pivot_table(df, index =['A', 'B'])
  
table

                 C
A     B
Boby  Graduate  23
John  Masters   27
Mina  Graduate  21
Nicky Graduate  24
Peter Masters   23

In [70]:
df.head()

       A         B   C
0   John   Masters  27
1   Boby  Graduate  23
2   Mina  Graduate  21
3  Peter   Masters  23
4  Nicky  Graduate  24

In [46]:
# Creates a pivot table dataframe
table = pd.pivot_table(df, values ='A', index =['B', 'C'],
						columns =['B'], aggfunc = np.sum)

table

B           Graduate Masters
B        C
Graduate 21     Mina     NaN
         23     Boby     NaN
         24    Nicky     NaN
Masters  23      NaN   Peter
         27      NaN    John

# Great Job!